<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
 https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
 
   <servlet>
    <display-name>CreateAnnouncement</display-name>
    <servlet-name>CreateAnnouncement</servlet-name>
    <servlet-class>org.paumard.web.servlet.CreateAnnouncement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAnnouncement</servlet-name>
    <url-pattern>/CreateAnnouncement</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewAnnouncement</display-name>
    <servlet-name>ViewAnnouncement</servlet-name>
    <servlet-class>org.paumard.web.servlet.ViewAnnouncement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAnnouncement</servlet-name>
    <url-pattern>/ViewAnnouncement</url-pattern>
  </servlet-mapping>
</web-app>